button {
  background-color: $main_color;
  color: $white;
  border: none;
  padding: 17px 50px;
  font-size: 22px;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;

  &::before {
    content: url("../../assets/before-btn.svg");
    position: absolute;
    left: -12px;
    top: 4px;
    width: 5px;
    height: 35px;
  }
  &::after {
    content: url("../../assets/before-btn.svg");
    position: absolute;
    right: -12px;
    bottom: 4px;
    width: 7px;
    height: 35px;
    transform: rotate(180deg);
  }
}
