.image-size {
  width: 35px;
  height: 35px;
}


.content {
  h2 {
    position: relative;
    left: 20%;
    top: 0%;
    font-family: $main_pixel_font;
    font-size: 45px;
    color: #E59E49;
  }
}

.row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  position: relative;
  font-family: $main_font;
  color: white;
  height: 350px;
  width: 25%;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 12px;
    padding: 1px;
    background: linear-gradient(to bottom, $main-color, #979107);
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }


  h3 {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
  }

  p {
    font-size: 19px;
    line-height: 1.6;
    margin: 0;
  }
}

.center {
  padding: 0 40px;
}

@media (max-width: 768px) {
  .content h2 {
    text-align: center;
    margin-left: 0;
  }
}