.footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;

  height: 100px;
}
.txt {
  color: $white;
  font-size: 12px;
  line-height: 0.3;
}
.social-media {
  display: flex;

  gap: 20px;
}

.logo {
  display: flex;
  gap: 30px;
  align-items: center;
}
